body {
    /* background-color: #121212;
    color: #ffffff; */
    background-color: #ffffff;
    color: #121212;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

header {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffffff;
}

header h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

header p {
    margin: 5px 0;
}

section {
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

p,
li {
    font-size: 16px;
    line-height: 1.5;
}

ul {
    padding-left: 20px;
}

a {
    color: #4db8ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}